@import 'var.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
/**************preloader****************/
.wrapper {
    height: 100vh;
}
.preloader { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #23262D;
    z-index: 999999;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
    .loader { 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,50%);
        &:before {
            content: "";
            height: 40px;
            width: 40px;
            border: 8px solid rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            position: absolute;
            top: 0;
            animation: loader 2s infinite linear;
          }
          &:after {
            content: "";
            height: 40px;
            width: 40px;
            border: 8px solid rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            position: absolute;
            top: 0;
            animation: loader2 2s infinite linear;
          }
    }
}
.done {
    opacity: 0;
    visibility: hidden;
}
/**************header****************/
.sticky {
    padding: 30px 0;
    background: $secondary-color;
    opacity: 0.9;
    filter: drop-shadow(rgba(120, 159, 188, 0.5) 0px 8px 10px);
    .header-links {
        color: #131925;
        transition: 1s;
        &:hover {
            color: #ffffff;
            transform: scale(1.2);
        }
    }
}
.header {
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    padding: 10px 0;
    z-index: 999;
    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 80px;
        &-logo a {
            font-size: 30px;
            font-weight: 600;
            color: #cccccc;   
        }
        &-menu li {
            list-style: none;
            display: inline-block;
            a {
                position: relative;
                display: inline-block;
                overflow: hidden;
                color: #B3C4CA;
                font-size: 16px;
                margin: 0 0 0 20px;
                &:hover span:nth-child(1) {
                    right: 100%;
                    transition: 2s;
                }
               span {
                    position: absolute;
                    display: block;
                    
                    &:nth-child(1) {
                        bottom: 0;
                        right: -100%;
                        width: 100%;
                        height: 5px;
                        background: linear-gradient(270deg, transparent, #6868B3);
                    }
                }
        
            }
        }
    }
}
/**************parallax****************/
.hero {
    width: 100%;
    min-height: 1000px;
    position: relative;
    overflow: hidden;
    background: url(../img/marek-piwnicki-ooxzy4JN6gw-unsplash.jpg);
    background-size: cover;
    .clouds {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;   
        img {
            position: absolute;
            top: 0;
            max-width: 100%;
            animation: clouds 15s linear infinite;
        }
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        z-index: 99;
        background: linear-gradient(transparent, $bg-color);
    }
    &-mountain-one {
        position: absolute;
        right: 35%;
        width: 100%;
        transform: translateY(45%);
        z-index: 9;
        mix-blend-mode: luminosity;
        
    }
    &-mountain-two {
        position: absolute;
        top: 15%;
        width: 100%;
        z-index: 10;
        transform: translateX(30%);
        mix-blend-mode: luminosity;
    }
    &-text {
        position: absolute;
        right: 0;
        width: 100%;
        transform: translateY(35%);
    }

}
/**************about****************/
.about {
    width: 100%;
    height: 100vh;
    background: $bg-color;
    &-line {
        padding: 25px 0 0 0;
        display: flex;
        justify-content: center;
    }
    &-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-textbox {
            margin: 80px 0 0 0;
            flex: 0 0 800px;
            position: relative;
            .icon {
                width: 100px;
                margin: 0 15px 60px 0;
                position: absolute;
                top: -5%;
                left: 3%;

                polygon {
                    fill: transparent;
                    stroke-width: 10;
                    stroke: $secondary-color;
                    stroke-dasharray: 650;
                    stroke-dashoffset: 0; 
                }
                &:hover polygon {
                    animation: icon-mount 2s linear forwards;
                }
            }
            &-text {    
             padding: 30px;
             &-h3 {
                 margin: 0 0 15px 100px;
             }
            }

        }
        
    }
    .rocket {
        position: relative;
        animation: rocket 0.2s ease infinite;
        margin: 0 0 0 30px;
        &:before {
            content: "";
            position: absolute;
            bottom: -195px;
            left: 50%;
            transform: translateX(-50%);
            width: 10px;
            height: 200px;
            background: linear-gradient(#00d0ff,transparent);
            border-radius: 10px;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -195px;
            left: 50%;
            transform: translateX(-50%);
            width: 10px;
            height: 200px;
            background: linear-gradient(#00d0ff,transparent);
            filter: blur(20px);
        }
        
    }
}
/**************skills**********/
.skills {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: $bg-color;
    &-text {
        align-self: start;
        &-h2 {
            text-align: center;
            padding: 15px 0;
        }
        p { 
            padding: 0 0 0 25px;
        }
    }
    .container {
        position: relative;
        width: 1100px;
        height: 400px;
        .card {
            position: absolute;
            top: calc(55% - 200px);
            left: 30%;
            transform: translate(-50%,calc(100px * var(--i))) rotate(40deg) skew(-20deg,-10deg);
            width: 200px;
            height: 300px;
            background: $secondary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 25px 25px 100px rgba(0,0,0,0.2);
            z-index: calc(0 * var(--i));
            transition: 1s;

            &:nth-child(1) {
                opacity: 1;
            }
            &:nth-child(2) {
                opacity: 0.8;
            }
            &:nth-child(3) {
                opacity: 0.6;
            }
            &:nth-child(4) {
                opacity: 0;
            }
            &:nth-child(1) svg circle:nth-child(2) {
                stroke: #DD4B25;
                stroke-dashoffset: calc(440 - (440 * 80) / 100);
            }
            &:nth-child(2) svg circle:nth-child(2) {
                stroke: #00a1ff;
                stroke-dashoffset: calc(440 - (440 * 75) / 100);
            }
            &:nth-child(3) svg circle:nth-child(2) {
                stroke: #E5A228;
                stroke-dashoffset: calc(440 - (440 * 15) / 100);
            }
            .content {
                opacity: 0;
                transform: translateY(50px);
                padding: 25px;
                transition: 2s;
                &-inner {
                    color: #444;
                    text-align: center;
                    &:hover {
                    transition: 1.2s;
                    transform: translateY(-10px);    
                    }
                    .inner-text {
                        color: #777;
                        position: relative;
                        margin: 20px 0 0 0;
                        font-weight: 700;
                        font-size: 18px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        transition: 0.5s;
                    }
                    .percent {
                        position: relative;
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        box-shadow:  inset 0 0 50px #000;
                        background: #445561;
                        z-index: 1000;
                        .number {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            h2 {
                                color: #777;
                                font-weight: 700;
                                font-size: 40px;
                                transition: 0.5s;
                            }
                        }
                    
                    }
                }
            }
            &:hover .inner-text {
                color: #272B36;
            }
            &:hover .percent .number h2 {
                color: #B5C8CE;
                font-size: 50px;
            }
        }
        &:hover .card {
            position: absolute;
            top: 50%;
            left: -20%;
            z-index: 1;
            opacity: 1;
            box-shadow: 0 25px 50px rgba(0,0,0,0.2);
            transform: translate(calc(-140% + calc(250px * var(--i))),-30%) rotate(0deg) skew(0deg,0deg);
        }
        &:hover .card .content {
            opacity: 1;
            transform: translateY(0px);
            transition-delay: calc(0.4s * var(--j));
        }
        
        
    }
    svg {
        position: relative;
        width: 150px;
        height: 150px;
        z-index: 1000;
    }
    svg circle {
        width: 100%;
        height: 100%;
        fill: none;
        stroke: #445561;
        stroke-width: 10;
        stroke-linecap: round;
        transform: translate(5px, 5px);
    }
    svg circle:nth-child(2) {
        stroke-dasharray: 440;
        stroke-dashoffset: 440;
    }
}

.projects {
    padding: 0 32px 48px;
    background: $bg-color;
    z-index: 4;
    &-title {
        width: 100%;
        margin: 0;
        padding: 32px 0 16px;
        color: #fff;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    &-description {
        max-width: 65%;
        margin: 0 auto 32px;
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
      }
    
    &-items {
        max-width: 1024px;
        margin: 0 auto;
        background: $bg-color;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        .projects-item {
            display: block;
            margin: 20px 25px;
            width: 400px;
            background: $secondary-color;
            position: relative;
            overflow: hidden;
            &-info {
                margin: 3px 0 8px;
                color: #000;
                font-size: 20px;
                font-weight: 300;
                text-align: center;
              }
            &-thumbnail {
                width: 100%;
                height: 400px;
                border-bottom: 1px solid #cfd2e2;
                transform: translateY(0%);
                transition: all 1s linear;
                z-index: 4;
              }
            &:hover .projects-item-thumbnail {
                transform: scale(1.6) translateY(120%);
                }
            &:hover .projects-item-hover {
                transform: translateY(0%);
                }   
            &-hover {
                position: relative;
                width: 100%;
                height: 100%;
                padding-top: 40px;
                background: linear-gradient(to top, #C2D5DB 0%, #445561 100%);
                position: absolute;
                left: 0;
                top: 0;
                transform: translateY(-100%);
                transition: all 0.6s linear;
                text-align: center;
                z-index: 3;
                &:before {
                    content: "";
                    position: absolute;
                    top: 32px;
                    left: 24px;
                    width: 0;
                    height: 0;
                    border-width: 0;
                    border-top-width: 2px;
                    border-left-width: 2px;
                    border-style: solid;
                    border-color: red;
                    transition: all 1.5s linear;
                  }
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 72px;
                    right: 24px;
                    width: 0;
                    height: 0;
                    border-width: 0;
                    border-bottom-width: 2px;
                    border-right-width: 2px;
                    border-style: solid;
                    border-color: blue;
                    transition: all 1.5s linear;
                  }
                  &-title {
                    margin: 24px 0 0;
                    color: #fff;
                    font-size: 30px;
                    font-weight: 400;
                  }
                  &-description {
                    max-width: 70%;
                    margin: 24px auto 0;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 300;
                  }
              }
            &:hover .projects-item-hover:before {
                width: 65%;
                height: 45%; 
            }   
            &:hover .projects-item-hover:after {
                width: 65%;
                height: 45%;
            }       
        }
      }
}


/**************animation****************/
@keyframes loader {
    100% {
        transform: rotate(180deg) skew(360deg);
    }
  } 
  @keyframes loader2 {
    100% {
        transform: rotate(-180deg) skew(-360deg);
    }
  }
  @keyframes clouds {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes rocket {
    0%,100% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
}
@keyframes icon-mount {
    0% {
        stroke-dashoffset: 0;
    }
    40% {

        stroke-dashoffset: 650;
    }
    80% {

        stroke-dashoffset: 1300;
        fill: transparent;
    }
    100% {

        stroke-dashoffset: 1300;
        fill: #B3C4CA;
        stroke: #444;
       
    }
}
::-webkit-scrollbar {
    width: 12px;
    background: #B3C4CA;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #252934);
    border-radius: 6px;
}
